{% if editmode %}
	<main class="content">
		<div class="block">
			<div class="container">
				<div class="row">
					<div class="col-12">
						{{ 'msg_default_page'|trans }}
					</div>
				</div>
			</div>
		</div>
	</main>
{% endif %}