{% extends 'layout.html.twig' %}

{% block content %}
<main class="content">
	<section>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-xl-4 offset-lg-3 offset-xl-4">
					{{ include('form/passwordReset.html.twig') }}
				</div>
			</div>
		</div>
	</section>
<main>
{% endblock %}
